

h1 {
}

h3 {
  padding: 40px 0 0 0;
}
.col-2.high-low {
  font-size: 15px;
  line-height: 40px;
}

.a {
  display: inline;
}

.btn.btn-primary {
  display: inline;
  color: #ff7143;
}
.meaning {
  font-weight: bold;
}

.advice {
  font-style: italic;
}
//.text-rotation {
  transform: rotate(-20deg);
  -webkit-transform: function;
  -moz-transform: function;
}

.background-holder {
  overflow: hidden;
  margin: 0 auto;
  position: absolute;
  pointer-events: none;
  z-index: -1;
}

.container {
  border-left: 2px solid red;
  border-right: 2px solid red;
}

.img {
  display: inline;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
  color: black;
}

.fahrenheit-link {
  text-decoration: none;
}

.celsius-link {
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.icon {
  width: 100px;
}