h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 80px;
  transform: rotate(-11deg);
  position: relative;
  top: -40px;
  left: -32px;
}

h3 {
  padding: 40px 0 0 0;
}

.background-holder {
  overflow: hidden;
  margin: 0 auto;
  position: absolute;
  pointer-events: none;
  z-index: -1;
}
.col-md-6.left-background {
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-image: url(../images/right.jpg);
  transition: all 2s ease;
}

.row.h-100:hover {
  background-size: 700px;
}

.col-md-6.right-background {
  padding: 0;
  background: #cdd5ee;
}

.col.left-inner-background {
  padding: 0;
  background: hsla(349, 50%, 50%, 0.3);
  transition: all 2s ease-in;
}
.container.left-right:hover {
  background: hsla(349, 50%, 50%, 0.6);
}

.col.right-inner-background {
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-image: url(../images/right.jpg);
}

.weather-app-wrapper {
  padding: 150px 60px 60px;
  border-radius: 20px;
}

.gitHub {
  padding: 30px;
}
.col-2.high-low {
  font-size: 15px;
  line-height: 40px;
}

.a {
  display: inline;
}

.btn.btn-primary {
  display: inline;
  color: #ff7143;
}
.meaning {
  font-weight: bold;
}

.advice {
  font-style: italic;
}

.img {
  display: inline;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
  color: black;
}

.fahrenheit-link {
  text-decoration: none;
}

.celsius-link {
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.icon {
  width: 100px;
}

.forecast-temperature-min,
.current-temperature-min {
  opacity: 0.6;
}

.forecastIcon {
  size: 20px;
}
